.logo{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -136px;
    margin-top: -150px;
   
}
.logo img{
    width: 50%;
    height: auto;
}
.forms{
    position: absolute;
    top: 40%;
    left: 40%;
    margin-left: 20px;
}
.search{
    width: 584px;
    height: 44px;
    margin-left: -140px;
}
.search-button, .lucky-button{
    border: 2px solid rgba(219, 219, 219, 0.856);
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #cfcfcf81;
    color: rgb(85, 84, 84);
    font-family: Arial, Helvetica, sans-serif;
}

.search-button:hover, .lucky-button:hover{
    color: black;
    border: 2px solid #a1a1a1fd
}